@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #64b284;
  --color-secondary: #64b284;
  --color-secondary-focus:#3a5c48
  --color-primary-focus:#3a5c48;



  --color-primary-blue: #5cc6d0;
  --color-background:#f9f9ff
  --color-grey-0: #f8f9fa;
  --color-grey-1: #e4e9ec;
  --color-grey-2: #717f88;
  --color-grey-3: #4e5961;
  --color-grey-4: #2e373d;
  --color-grey-5: #1e2429;
  --color-grey-opacity-1: rgba(33, 37, 41, 0.5);
  --color-negative: #d7443e;


  --font-primary: "Exo 2", sans-serif;
}
